# Authing Configuration
NEXT_PUBLIC_AUTHING_DOMAIN=qiyu-datai.authing.cn
NEXT_PUBLIC_AUTHING_APP_ID=
NEXT_PUBLIC_AUTHING_APP_SECRET=
NEXT_PUBLIC_AUTHING_USER_POOL_ID=
NEXT_PUBLIC_AUTHING_USER_POOL_SECRET=

# Backend API Configuration
NEXT_PUBLIC_GRAPHQL_ENDPOINT=http://localhost:8080/query

# App Configuration
NEXT_PUBLIC_APP_NAME=DaTai
NEXT_PUBLIC_APP_URL=http://localhost:3000 