# env should never be committed
.env

# editor / system files
.DS_Store
*.swp
*.log



# sqlc
db/


# Go build
/bin/
/*.exe
/*.test
*.out


# IDEs
.vscode/
.idea/
*.sw?


# 依赖
node_modules/
vendor/

# 构建产物
dist/
build/